
/* ------Testimonial-------- */
#l2{
  width: 9px; 
  height: 5px;
   left: 108px;
    top: 10px;
     position: absolute; 
    font-size: 4.15px;
     font-family: Plus Jakarta Sans; 
     font-weight: 800; 
     word-wrap: break-word
}
#l1{
  width: 26.93px;
   height: 34px;
   
}
